:root {
    --green-accent: #B9FF66;
    --black-accent: #191A23;
    --fonts-color-black: #000000;
    --fonts-color-white: #FFFFFF;
    --fonts-family: 'Space Grotesk';
    --transition-animation: all .3s;
    --bg-card-white: #f3f3f3;
}

.body {
    font-family: var(--fonts-family);
    overflow-x: hidden;
    width: 100vw;
}

.body--modal-open {
    overflow: hidden;
}

.header {
    padding: 60px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    transform: translateY(-4px);
    z-index: 6;
}

.nav-list {
    display: flex;
    font-size: 20px;
    gap: 40px;
    align-items: center;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: center;
}

.header-nav__item-link::before {
    content: "";
    position: absolute;
    top: 110%;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: var(--transition-animation);
}

.header-nav__item-link:hover:before {
    width: 100%;
}

.header-nav__request {
    padding: 20px 35px;
    border: 1px solid var(--black-accent);
    border-radius: 14px;
    transition: var(--transition-animation);
}

.header-nav__request:hover {
    background-color: var(--black-accent);
    color: var(--fonts-color-white);
}





/* burger menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.burger-item {
    display: none;
    width: 28px;
    height: 24px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 6;
    cursor: pointer;
}

.burger-item span,
.burger-item span::before,
.burger-item span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 24%;
    background-color: var(--black-accent);
    display: block;
    transition: .4s;
}

.burger-item span::before {
    top: -10px;
}

.burger-item span::after {
    top: 10px;
}

.body--modal-open .burger-item span {
    background-color: transparent;
}

.body--modal-open .burger-item span::before {
    top: 0;
    rotate: 45deg;
}

.body--modal-open .burger-item span::after {
    top: 0;
    rotate: -45deg;
}


@media (max-width: 1100px) {
    .header-nav__list {
        position: fixed;
        background-color: #B9FF66;
        inset: 0;
        z-index: 5;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
        font-size: 20px;
        visibility: hidden;
        opacity: 0;
        transition: all .4s;
        transform: translatey(-150px);
        gap: 6.4vh 40px;
    }

    .burger-item {
        display: flex;
    }

    .body--modal-open .header-nav__list {
        visibility: visible;
        opacity: 100;
        transform: translatey(0px);
    }
}

/* header title>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.header-title {
    margin-top: 70px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 501px .1fr;
    grid-template-rows: .5fr .5fr .5fr;
    row-gap: 35px;
}

.header-title_title {
    grid-row: 1/2;
    grid-column: 1/2;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

.header-title_illustration {
    grid-column: 2/3;
    grid-row: 1/4;
}

.header-title_subtitle {
    grid-row: 2/4;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 28px;
    max-width: 498px;
}

.header-title_sign {
    margin-top: 35px;
}



.header-partners {
    max-width: 1240px;
    margin: 0 auto;
    padding: 60px 0;
}

.header-partners_img-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    gap: 35px;
}

.header-partners img {
    filter: grayscale(100%);
}


@media (max-width: 1100px) {
    .header-title {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .5fr .5fr;
        row-gap: 20px;
    }

    .header-title_title {
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: center;
        text-align: center;
    }

    .header-title_illustration {
        grid-column: 1;
        justify-self: center;
        grid-row: 2/3;
        text-align: center;
    }

    .header-title_illustration img {
        width: 90%;
    }

    .header-title_subtitle {
        justify-self: center;
        grid-row: 3/4;
        grid-column: 1;
    }

    .header-partners_img-wraper {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .header-nav__logo {
        font-size: 28px;
    }

    .header-nav__logo img {
        width: 23px;
    }

    .header-title_title {
        font-size: 43px;
        line-height: 55px;
    }

    .header-title_illustration {
        grid-column: 1;
        justify-self: center;
        grid-row: 2/3;
        text-align: center;
    }

    .header-title_illustration img {
        width: 90%;
    }

    .header-title_subtitle {
        justify-self: center;
        grid-row: 3/4;
        grid-column: 1;
        font-size: 16px;
    }

    .header-title_sign {
        width: 90%;
        justify-self: center;
        justify-content: center;
    }

    .header-partners_img-wraper {
        gap: 35px;
        flex-wrap: nowrap;
    }


    .header-partners img {
        filter: grayscale(100%);
    }

    .header-partners {
        overflow: hidden;
    }



    .header-partners_img-wraper {
        animation: scrol 10s linear infinite;
        width: fit-content;
    }


    @keyframes scrol {
        from {
            transform: translateX(100vw);
        }

        to {
            transform: translateX(calc(-100% - 20px));
        }
    }

}



/* Main>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* section 1>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media (max-width:550px) {
    .main {
        gap: 60px;
    }
}

.title-section {
    font-size: 40px;
    font-weight: 500;
    line-height: 51px;
    padding: 0 7px;
    background-color: var(--green-accent);
    border-radius: 7px;
}

.Services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 40px;
}

.card-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    height: 310px;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(25, 26, 35);
    border-radius: 45px;

    box-shadow: 0px 5px 0px 0px rgb(25, 26, 35);
    cursor: pointer;
    transition: var(--transition-animation);
}

.card-item-white {
    background: var(--bg-card-white);
}

.card-item-green {
    background: var(--green-accent);
}

.card-item-black {
    background: var(--black-accent);
}

.card-item_title {
    grid-column: 1/2;
}

.card-item_title-item {
    padding: 0 7px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    width: fit-content;
}

.title-item-green {
    background-color: var(--green-accent);
}

.title-item-white {
    background-color: var(--fonts-color-white);
}

.card-item_link {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    align-self: flex-end;
    gap: 15px;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
}


.link-white {
    color: var(--fonts-color-white);
}

.link-white-svg svg path {
    fill: var(--black-accent);
}

.link-white-svg {
    background-color: var(--fonts-color-white);
}


.link-black-svg {
    background-color: var(--black-accent);
}

.link_wrapper-svg {
    position: relative;
    width: 41px;
    height: 41px;
    border-radius: 100%;
    display: flex;
    z-index: 2;
    transition: var(--transition-animation);
}

.link_wrapper-svg svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-item_img {
    grid-column: 2/3;
    grid-row: 1/3;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
    justify-self: flex-end;
}

.card-item:hover {
    box-shadow: 0px 0px 0px 0px #191a23;
    transform: translateY(5px);
}

.card-item:hover .card-item_link p {
    transform: translateX(0);
    opacity: 100;
}

.card-item_link p {
    transform: translateX(-70%);
    opacity: 0;
    transition: var(--transition-animation);
}

.card-item:hover .link_wrapper-svg {
    rotate: 30deg;
    transform-origin: center;
}


/* .Services-proposal>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.Services-proposal {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-card-white);
    border-radius: 45px;
    padding: 60px;
}

.proposal-content {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 500px;
}

.proposal-content h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.proposal-content p {
    font-size: 18px;
    line-height: 23px;
}

.proposal-img {
    width: 100px;
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.proposal-img img {
    position: absolute;
    right: 0;
}




/* media>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width:1100px) {
    .Services-cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }


    .Services-proposal {
        justify-content: center;
        padding: 50px;
    }

    .proposal-img {
        display: none;
    }
}

@media (max-width:550px) {
    .Services-proposal {
        margin-top: 70px;
    }

    .title-section {
        font-size: 36px;
        font-weight: 500;
    }

    .card-item_title {
        grid-column: 1/3;
    }

    .card-item_title-item {
        font-size: 26px;
    }

    .card-item_link {
        grid-column: 1/2;
    }

    .card-item_link p {
        display: none;
    }

    .card-item_img {
        grid-column: 2/3;
        grid-row: 2/3;
        max-width: 165px;
        min-width: 120px;
    }

    .card-item_img img {
        width: 100%;
    }


    .proposal-content h3 {
        font-size: 26px;
    }

    .proposal-content p {
        font-size: 16px;
    }
}


/* >>>>>Studies.>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.Studies-wrapper {}

.Studies-content {
    padding: 70px 60px;
    background-color: var(--black-accent);
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}

.Studies-content_item {
    padding: 0 63px;
    border-right: 1px solid white;
    height: 100%;
}

.Studies-content_item-first {
    padding: 0 63px 0 0;
}

.Studies-content_item-last {
    padding: 0 0 0 63px;
    border-right: none;
}

.Studies-content_item-paragraph {
    color: var(--fonts-color-white);
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
}

.Studies-content_item-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    font-size: 20px;
    line-height: 28px;
    color: var(--green-accent);
    border-bottom: 0px solid var(--green-accent);
    transition: var(--transition-animation);
}

.Studies-content_item-link::before {
    content: "";
    position: absolute;
    width: 0%;
    top: 100%;
    height: 1px;
    background-color: var(--green-accent);
    transition: var(--transition-animation);
}

.Studies-content_item-link:hover.Studies-content_item-link::before {
    width: 100%;
}




@media (max-width: 900px) {
    .Studies-content {
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .Studies-content_item {
        padding: 20px 0 0 0;
        border-right: none;
        border-top: 1px solid white;
        height: 100%;
    }

    .Studies-content_item-first {
        padding: 0;
        border-top: none;
    }

    .Studies-content_item-last {
        border-right: none;
    }

    .Studies-content_item-paragraph {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .Studies-content {
        padding: 40px 30px;
    }

}








/* Working-Accordion>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.accordion-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion-item {
    padding: 41px 60px 41px 60px;
    box-sizing: border-box;
    border: 1px solid rgb(25, 26, 35);
    border-radius: 45px;
    transition: var(--transition-animation);
    box-shadow: 0px 5px 0px 0px rgb(25, 26, 35);
    background: var(--bg-card-white);
    overflow: hidden;
    cursor: pointer;
}

.accordion-item:hover {
    background: var(--green-accent);
}

.accordion-visible {
    background: var(--green-accent) !important;
}


.accordion-items_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.accordion-items_title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    top: 130%;
    background-color: black;
    transition: all .2s;
}

.accordion-visible .accordion-items_title::before {
    height: 1px;
}

.accordion-items_title-text {
    display: flex;
    align-items: center;
    gap: 25px;
}

.accordion-items_title-text h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 77px;
}

.accordion-items_title-text h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
}

.button-open {
    width: 58px;
    height: 58px;
    border-radius: 100px;
    border: 1px solid var(--black-accent);
    background: var(--bg-card-white);
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-open_span {
    width: 25px;
    height: 6px;
    background-color: var(--black-accent);
    position: absolute;
}

.span-two {
    rotate: 180deg;
    transition: var(--transition-animation);
}

.span-one {
    rotate: 90deg;
    transition: var(--transition-animation);
}

.accordion-visible .button-open_span {
    width: 17.76px;
    height: 5.64px;
}

.accordion-visible .span-two {
    rotate: 0deg;
}

.accordion-visible .span-one {
    rotate: 0deg;
}



.accordion-items_content {
    line-height: 23px;
    font-size: 18px;
    transition: var(--transition-animation);
    opacity: 0;
    max-height: 0;
}

.accordion-items_content p {
    padding-top: 58px;
}

.accordion-visible .accordion-items_content {
    visibility: visible;
    opacity: 100;
}




@media (max-width: 550px) {
    .accordion-item {
        padding: 30px;

    }

    .accordion-items_title-text {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .accordion-items_title-text h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .accordion-items_title-text h3 {
        font-size: 18px;
        line-height: 23px;
    }

    .button-open {
        width: 30px;
        height: 30px;
    }

    .button-open_span {
        width: 13px;
        height: 4px;
        background-color: var(--black-accent);
        position: absolute;
    }

    .accordion-visible .button-open_span {
        width: 10px;
        height: 3px;
    }
}




/* <Team- section>>>>>>>>>>>>>>>>>>>>>>>> */


.Team-cart {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Team-person-visible {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 15px;

}

.Team-person_item {
    box-sizing: border-box;
    border: 1px solid rgb(25, 26, 35);
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px rgb(25, 26, 35);
    background: rgb(255, 255, 255);
    padding: 40px 35px;
    max-width: 387px;
}



.Team-person_item-title {
    display: flex;
    gap: 9px;
    padding-bottom: 27px;
    transition: var(--transition-animation);
    border-bottom: 1px solid black;
}

.item_name-photo {
    filter: grayscale(100%);
    transition: var(--transition-animation);
}

.item_name-person {
    align-self: flex-end;
}

.item_name-person h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.item_name-person p {
    font-size: 18px;
    line-height: 23px;
}

.item_social-icon {
    height: fit-content;
}

.Team-person_item-inform {
    margin-top: 27px;
    font-size: 18px;
    line-height: 23px;
}

.Team-person-hidden {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 15px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-animation);
}

.hidden-visible {
    margin-top: 40px;
    opacity: 100;
    visibility: visible;
}


.Team-btn {
    align-self: self-end;
    margin-top: 40px;
}






/* >>Team- Hiden>>>>>>>>>>>>>>>>>>>>> */

.Team-person_item:hover .item_name-photo {
    filter: grayscale(0%);
}





/* Team Media>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width:1100px) {
    .Team-person-visible {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 40px;
    }
}

@media (max-width:900px) {
    .Team-btn {
        align-self: center;
    }
}

@media (max-width:550px) {
    .item_name-person h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .item_name-person p {
        font-size: 16px;
        line-height: 23px;
    }
}




/* Testimonials>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.swiper.Testimonials-swiper {
    overflow: hidden;
    border-radius: 45px;
    padding: 84px 0 68px 0;
    background-color: var(--black-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Testimonials-swiper-wrapper {
    display: flex;
    justify-content: space-between;
}

.swiper-wrapper {}

.Testimonials_swiper-slide {
    flex-direction: column;
    cursor: grab;
}

.swiper-slide_quote {
    color: white;
    position: relative;
    max-width: 606px;
    padding: 48px 52px;
    border: 2px solid var(--green-accent);
    border-radius: 45px;
    z-index: 1;
    font-size: 18px;
    line-height: 23px;
}


.border-deformations {
    position: absolute;
    top: 99%;
    width: 64px;
    height: 30px;
    background-color: var(--black-accent);

}

.border-deformations-item {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(8%);
}

.border-deformations-item::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0%;
    width: 45.5px;
    height: 2px;
    background-color: var(--green-accent);
    rotate: 135deg;
    left: 102%;
}

.border-deformations-item::before {
    content: "";
    display: block;
    position: absolute;
    transform-origin: 0%;
    transform: translate(-1%);
    width: 47px;
    height: 2px;
    background-color: var(--green-accent);
    rotate: 45deg;
}

.swiper-slide_name {
    margin-top: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: var(--fonts-color-white);
    padding-left: 80px;
}

.swiper-slide_name h3 {
    color: var(--green-accent);
    font-size: 20px;
    font-weight: 500;
}



.Testimonials-slide-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 124px;
    max-width: 560px;
    width: 100%;
}

.swiper-pagination.Testimonials-pagination {
    position: relative;
    display: flex;
    gap: 19px;
    transform: translateY(8px);
}





.Arrow-prev svg {
    rotate: 210deg;
}

.Arrow-prev path,
.Arrow-next path {
    fill: white;
}

.arrow-activ path {
    fill: rgb(105, 105, 105);
}

.Testimonials-pagination {
    cursor: pointer;
}

.Arrow-next svg {
    rotate: 30deg;
}

.Arrow-next,
.Arrow-prev {
    cursor: pointer;
}


@media (max-width:700px) {
    .Testimonials-slide-nav {
        display: flex;
        justify-content: center;
    }

    .Arrow-prev {
        display: none;
    }

    .Arrow-next {
        display: none;
    }
}

@media (max-width:500px) {

    .swiper-slide_quote {
        color: white;
        position: relative;
        max-width: 606px;
        padding: 30px;
        border: 2px solid var(--green-accent);
        border-radius: 45px;
        z-index: 1;
        font-size: 16px;
        line-height: 24px;
    }

    .swiper-slide_name {
        padding-left: 60px;
    }
}



.Contact-content-wrapper {
    position: relative;
    border-radius: 45px;
    background: var(--bg-card-white);
    padding: 60px 100px 80px 100px;
    overflow: hidden;
}

.Contact-content {
    max-width: 556px;
    overflow: hidden;
    height: 100%;
}

.Contact-Illustration {
    position: absolute;
    left: calc(100% - 30%);
}



.Contact-content_Switch {
    margin-bottom: 40px;
    display: flex;
    gap: 35px;
    font-size: 18px;
    line-height: 23px;
}

.Contact-content_Switch label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Switch-radio {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}


.Switch-radio::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: var(--green-accent);
    border-radius: 100%;
    transition: var(--transition-animation);
}

.Switch-radio:checked:after {
    width: 16px;
    height: 16px;
}






.Contact-content_Input {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}

.Input h5 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.text-input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 14px;
    background: var(--fonts-color-white);
    padding: 18px 30px;
    width: 100%;
    font-size: 18px;
}

.Input-email {}

.Input-message textarea {
    resize: none;
    height: 190px;
}




.black-button.Contact-btn {
    max-width: 556px;
    width: 100%;
    justify-content: center;
}



.Contact-form {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    transition: var(--transition-animation);
}


.form-visible {
    visibility: visible;
    opacity: 100;
    transform: translateX(0%);
}



@media (max-width: 700px) {
    .Contact-content-wrapper {
        position: relative;
        border-radius: 45px;
        background: var(--bg-card-white);
        padding: 40px 30px 40px 30px;
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    .Contact-Illustration {
        display: none;
    }

    .Contact-content_Switch {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 350px) {
    .Contact-Illustration {
        display: none;
    }

    .Contact-content_Switch {
        margin-bottom: 20px;
        gap: 15px;
        flex-direction: column;
    }
}








.footer-wrapper {
    border-radius: 45px 45px 0px 0px;
    padding: 50px 60px;
    background: rgb(25, 26, 35);
}

.footer-nav__item-link::before {
    content: "";
    position: absolute;
    top: 110%;
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: var(--transition-animation);
}

.footer-nav__item-link:hover:before {
    width: 100%;
}


.footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 38px;
    color: var(--fonts-color-white);
}

.logo {}

.footer-nav__list {}

.nav-list {}

.footer-nav__item {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 23px;
}

.footer-nav__item-link {}

.nav-link {}

.footer-social {
    display: flex;
    gap: 20px;
}



.footer-contact {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}


.footer-contact_inform {
    max-width: 332px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 23px;
    color: var(--fonts-color-white);
    gap: 20px;
}

.footer-contact_inform-title {
    border-radius: 7px;
    background-color: var(--green-accent);
    padding: 0 7px;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: var(--fonts-color-black);
}

.footer-contact_subscribe {
    border-radius: 14px;
    background: rgb(41, 42, 50);
    padding: 58px 40px;
    max-width: fit-content;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-contact_subscribe-input {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    padding: 22px 35px;
    border-radius: 14px;
    border: 1px solid rgb(255, 255, 255);
    background-color: inherit;
    color: var(--fonts-color-white);
}

.footer-contact_subscribe-btn {
    border-radius: 14px;
    padding: 20px 35px;
    background-color: var(--green-accent);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--fonts-color-black);
    max-height: 69px;
}


.footer-contact_Privacy {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--fonts-color-white);
    display: flex;
    gap: 10px 40px;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid white;
}

.Privacy-link {
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
}



.footer-social-adaptiv {
    display: none;
}






@media (max-width: 1100px) {
    .footer-contact {
        flex-direction: column;

        justify-content: space-between;

    }

    .footer-contact_inform {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        font-size: 18px;
        line-height: 23px;
        color: var(--fonts-color-white);
        gap: 20px;
    }

    .inform-email {
        grid-column: 1/2;
    }

    .inform-tel {
        grid-column: 1/2;
    }

    .inform-adress {
        grid-column: 2/3;
        grid-row: 1/4;
        align-self: center;
    }

    .footer-contact_subscribe {
        margin-top: 37px;
    }

    .footer-contact_subscribe form {
        width: 100%;
    }

    .footer-contact_subscribe-input {
        width: 100%;
    }

    .footer-contact_subscribe-btn {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-contact_Privacy {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-nav__list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-contact_inform {
        max-width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        line-height: 23px;
        color: var(--fonts-color-white);
        gap: 20px;
    }
    .footer-contact_inform-title{
        justify-self: center;
    }

    .inform-email {
        grid-column: 1/2;
    }

    .inform-tel {
        grid-column: 1/2;
    }

    .inform-adress {
        grid-column: 1/2;
        grid-row: 4/4;
        align-self: center;
        line-height: 30px;
    }
}

@media (max-width: 700px) {

    .container-footer{
        padding: 0px;
    }
}
@media (max-width: 500px) {
    .footer-wrapper {
        border-radius: 0px;
        padding: 50px 20px 30px 20px;

    }
    
    .footer-nav__list{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: center;
    }
    
    .footer-social{
        display: none;
    }
    .footer-social-adaptiv{
        display: flex;
        margin-top: 67px;
        justify-self: center;
    }
    .footer-contact{
        margin-top: 37px;
    }
    .footer-contact_inform-title{
        margin-bottom: 20px;
    }
    .footer-contact_subscribe {
        border-radius: 14px;
        background: rgb(41, 42, 50);
        padding: 30px;
        max-width: fit-content;
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .footer-contact_Privacy{
        text-align: center;
    }
}
@media (max-width: 350px){
.footer-contact_subscribe-btn{
    font-size: 18px;
    padding: 20px;
}
}






/* >Button - black<><<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.black-button {
    display: flex;
    align-items: center;
    padding: 20px 35px;
    width: fit-content;
    background-color: var(--black-accent);
    border-radius: 14px;
    color: var(--fonts-color-white);
    font-size: 20px;
    z-index: 5;
}

.black-button span {
    display: block;
    margin-right: 5px;
    background-color: #FFFFFF;
    width: 0px;
    height: 0px;
    border-radius: 100px;
    position: relative;
    transition: var(--transition-animation);
}

.black-button span::before {
    content: "➜";
    position: absolute;
    display: block;
    color: var(--black-accent);
    font-size: 20px;
    font-weight: 500;
    top: 49%;
    left: 50%;
    transform: translate(-170%, -50%);
    transition: all .5s;
}

.black-button:hover.black-button span::before {
    transform: translate(-50%, -50%);
}

.black-button:hover.black-button span {
    width: 25px;
    height: 25px;
}


@media (hover: none) and (pointer: coarse){
    .black-button span::before {
        content: "➜";
        position: absolute;
        display: none;
        color: var(--black-accent);
        font-size: 20px;
        font-weight: 500;
        top: 49%;
        left: 50%;
        transform: translate(-170%, -50%);
        transition: all .5s;
    }
    
    .black-button:hover.black-button span::before {
        transform: translate(0);
    }
    
    .black-button:hover.black-button span {
        width: 0px;
        height: 0px;
    }




    .header-nav__item-link::before {
        content: "";
        position: absolute;
        top: 110%;
        display: none;
        height: 2px;
        width: 0%;
        background-color: #000000;
        transition: var(--transition-animation);
    }

    .header-nav__request:hover {
        background-color: inherit;
        color: var(--fonts-color-black);
    }


    .card-item:hover {
        box-shadow: 0px 5px 0px 0px rgb(25, 26, 35);
        transform: translateY(0);
    }
    
    .card-item:hover .card-item_link p {
        transform: translateX(0);
        opacity: 100;
    }
    .card-item:hover .link_wrapper-svg {
        rotate: 0deg;
        
    }
    .card-item_link p{
        display: none;
    }


    .Studies-content_item-link::before {
        display: none;
    }

    .accordion-item:hover {
        background-color: var(--bg-card-white);
    }

    .footer-nav__item-link::before {
        display: none;
    }
}
/* >Button - black<><<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>> */




/* Section-title>>>>>>>>>>>>>>>>>>>>>>>>> */
.Section-title {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 80px;
}

.Section-title p {
    max-width: 580px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

@media (max-width: 500px) {
    .Section-title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
}
