.main {
}
.black-block {
     background-color: rgb(63, 63, 63);
}
.text-blueviolet{
     color: blueviolet;
}
.h2_black {
     color: #ffffff;
}
.red-block {
     width: 100px;
     height: 100px;
     background-color: red;
}
.blu-block {
     width: 300px;
     background-color: #9584b4;
}
.title {
     color: black;
}
.element{
     background-color: #7b5db4;
     color: #ffffff;
}
